body {
  background-image: linear-gradient(to right, #f7dc6f, #3498db, #e74c3c);
}
.card-body {
  background-color: hsl(220, 9%, 80%);
  max-height: 150px;
  /* Altura máxima para el cuerpo de la tarjeta */
  overflow-y: auto;
  /* Permitir desplazamiento vertical */
}
.navbar {
  background-image: linear-gradient(to right, #d1c980, #6bb8db, #a5706a);
  padding: 1rem;
  text-align: right;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.icono-colombia {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.clear-search-btn:hover {
  background-color: #be2a17;
  border-color: #ca1616;
  border-color: #6c757d;
}

main {
  padding: 20px;
  text-align: center;
}
table thead {
  background: #4bb46e;
  color: rgb(212, 12, 12);
}
.table-responsive {
  overflow-x: auto;
}
.scrollable-cell {
  max-height: 100px;
  /* Altura máxima de la celda */
  overflow: hidden;
  /* Oculta el scroll horizontal */
}
.scrollable-cell .inner-cell {
  max-height: 100px;
  /* Altura máxima del contenido */
  overflow-y: auto;
  /* Scroll vertical si el contenido excede la altura */
  white-space: normal;
  /* Permite que el texto se divida en varias líneas */
}
/* Estilo para las imágenes */
img {
  width: 70px;
  /* Ancho fijo */
  height: 100px;
  /* Alto fijo */
  object-fit: cover;
  /* Mantiene la proporción de la imagen */
}
/* Estilo para el mensaje de "No se encontraron datos" */
.no-data-message {
  text-align: center;
  /* Centra el texto */
  color: #fff;
  /* Color del texto */
  font-weight: bold;
  /* Texto en negrita */
  background-color: #c56c75;
  /* Color de fondo rojo */
  padding: 20px;
  /* Espaciado interno */
}
.card {
  margin: 20px; /* Aumentar el margen de las tarjetas */
  height: 100%;
  overflow: hidden;
}
.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 5px;
}

footer {
  background-color: #8a0a16bd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2rem;
}
body > footer {
  background-color: #8a0a16bd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2rem;
}
